@import "../../user-forms-common.scss";


mat-card {
    @include mat-card-common-full-width();

    mat-form-field:last-of-type {
        @include mat-form-field-last-of-type();
    }

    button.ok {
        @include button-style-main();
        margin-top: 20px;
    }
    
    button.change-pass, a.change-pass {
        @include button-style-other();
        margin-top: 20px;
    }

    table {
        width: 100%;
        border: 1px solid red;
    }
}