<div class="container-user-forms">
    <mat-card>
        <mat-card-title>
                User Accounts [{{ data_rows_count }} item(s)]
        </mat-card-title>
        <mat-card-content>
            <mat-form-field>
                <mat-label>Search all fields</mat-label>
                <input matInput (keyup)="filterTheList($event)" placeholder="" #input>
            </mat-form-field>

            <div class="mat-elevation-z1">
                <table mat-table [dataSource]="data_rows" matSort>
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>E-mail</th>
                        <td mat-cell *matCellDef="let row">{{ row.email }}</td>
                    </ng-container>

                    <ng-container matColumnDef="first_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>First name</th>
                        <td mat-cell *matCellDef="let row">{{ row.first_name }}</td>
                    </ng-container>

                    <ng-container matColumnDef="last_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Last name</th>
                        <td mat-cell *matCellDef="let row">{{ row.last_name }}</td>
                    </ng-container>

                    <ng-container matColumnDef="is_active">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Is active?</th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox [checked]="row.is_active" disabled></mat-checkbox>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="is_staff">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Is admin?</th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox [checked]="row.is_staff" disabled></mat-checkbox>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
                        <td mat-cell *matCellDef="let row">
                            <a mat-button [routerLink]="'/admin/user/edit/'+row.id">EDIT</a>

                            <ng-template [ngIf]="row.id != my_id">
                                <a mat-button (click)="delete_item(row);">DELETE</a>
                            </ng-template>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="columns_to_show"></tr>
                    <tr mat-row *matRowDef="let row; columns: columns_to_show;"></tr>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data for search {{ input.value }}</td>
                    </tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
            </div>
              

            <div class="buttons">
                <a class="change-pass" mat-raised-button  routerLink="/admin/user/edit/create">Create new user</a>
            </div>
        </mat-card-content>
    </mat-card>
</div>


