<div class="container-user-forms">
    <mat-card>
        <mat-card-title>Registration Form</mat-card-title>
        <mat-card-content>
            <ng-template [ngIf]="!is_registered_ok">
                <form [formGroup]="form" (ngSubmit)="submit_form()">
                    <mat-form-field>
                        <mat-label>First name</mat-label>
                        <input matInput placeholder="Input your first name." formControlName="first_name">
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label>Last name</mat-label>
                        <input matInput placeholder="Input your last name." formControlName="last_name">
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label>E-mail</mat-label>
                        <input matInput placeholder="Input your e-mail." formControlName="email" email="true" required>
                        <mat-error>
                            A valid e-mail address is required.
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input matInput type="password" placeholder="Input your new password." formControlName="password_1" required />
                        <mat-error>
                            A valid password is required.
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Password confirmation</mat-label>
                        <input matInput type="password" placeholder="Confirm your new password." formControlName="password_2" required />
                        <mat-error>
                            A valid password confirmation is required.
                        </mat-error>
                    </mat-form-field>

                    
                    <ng-template [ngIf]="form.hasError('passwords_dont_match') && form.touched">
                        <div class="form-wide-errors" >
                            Passwords must match.
                        </div>
                    </ng-template>


                    <ng-template [ngIf]="form.touched && is_email_already_taken">
                        <div class="form-wide-errors" >
                            E-mail is already taken.
                        </div>
                    </ng-template>                    
                    
                    <div class="buttons">
                        <button class="ok" mat-raised-button type="submit" [disabled]="!form.valid">Register</button>
                        <button class="reset" mat-raised-button type="button" (click)="reset();">Reset data</button>
                    </div>
                    
                    
                </form>
            </ng-template>
            <ng-template [ngIf]="form.touched && is_registered_ok">
                <div class="form-wide-success" >
                    <ng-template [ngIf]="is_fake_mode" [ngIfElse]="real_mode_success">
                        <b><u>TEST MODE.</u></b><br /><br />
                        The user with e-mail {{ registered_email }} has been registered. <br />
                        Please click <a [routerLink]="fake_mode_register_confirm_url"><b>HERE</b></a> to confirm your registration.<br /> <br />
                        <b><i>Please remember this is just for testing!!!</i></b><br /><br />
                    </ng-template>
                    <ng-template #real_mode_success>
                        Registration complete. Please await the message with confirmation link in your mailbox at {{ registered_email }}.
                        When retrieved, please click the link to finish your registration.
                    </ng-template>
                </div>
            </ng-template>
        </mat-card-content>


    </mat-card>
</div>