.main-container {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-template-areas: 
    "main-left main-content";
    height: 100vh;
    padding: 0;
  }

  .main-left {
    grid-area: main-left;
    border: 1px gray dashed;
  }

  .main-content {
    grid-area: main-content;
    border: 1px gray dashed;
  }
