<div class="container-user-forms">
    <mat-card>
        <mat-card-title>Reset Password</mat-card-title>
        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="submit_form()">

                <mat-form-field>
                    <mat-label>E-mail</mat-label>
                    <input matInput placeholder="Input your e-mail." formControlName="email" email="true" required>
                    <mat-error>
                        A valid e-mail address is required.
                    </mat-error>
                </mat-form-field>  


                <ng-template [ngIf]="is_reset_request_sent_ok">
                    <div class="form-wide-success" >
                        <ng-template [ngIf]="is_fake_mode" [ngIfElse]="real_mode_success">
                            <b><u>TEST MODE.</u></b><br /><br />
                            Password reset request for the user with e-mail {{ email }} has been sent. <br />
                            Please click <a [routerLink]="fake_mode_password_reset_confirm_url"><b>HERE</b></a> to set up your new password.<br /> <br />
                            <b><i>Please remember this is just for testing!!!</i></b><br /><br />
                        </ng-template>
                        <ng-template #real_mode_success>
                            Password reset request has been sent. If you are registered, please await the message 
                            from us in your mailbox. Once the mail is retrieved, click the Password Reset Link and update your password.
                            If you're not registered, please click <a routerLink="/register"><b>here</b></a> to register. <br /> <br />
                        </ng-template>
                    </div>
                </ng-template>

                <div class="buttons">
                    <button class="ok" mat-raised-button type="submit" [disabled]="!form.valid">Send Reset Request</button>
                </div>

            </form>
        </mat-card-content>


    </mat-card>
</div>