<div class="container-user-forms">
    <mat-card>
        <mat-card-title>Log In</mat-card-title>
        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="submit_form()">

                <mat-form-field>
                    <mat-label>E-mail</mat-label>
                    <input matInput placeholder="Input your e-mail." formControlName="email" email="true" required>
                    <mat-error>
                        A valid e-mail address is required.
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="Input your password." formControlName="password" required>
                    <mat-error>
                        A valid password is required.
                    </mat-error>
                </mat-form-field>

                <ng-template [ngIf]="bad_login">
                    <div class="form-wide-errors" >
                        Incorrect login or password.
                    </div>
                </ng-template>

                <div class="buttons">
                    <button class="ok" mat-raised-button type="submit" [disabled]="!form.valid">Log In</button>
                    <button class="reset-pass" mat-raised-button type="button" (click)="reset_pass();">Reset Password</button>
                </div>

            </form>
        </mat-card-content>


    </mat-card>
</div>