<div class="container-user-forms">
    <mat-card>
        <mat-card-title>Password Reset - Set new password</mat-card-title>
        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="submit_form()">

                <ng-template [ngIf]="(confirm_ok || confirm_failed)" [ngIfElse]="not_confirmed_yet">
                    <ng-template [ngIf]="confirm_ok" [ngIfElse]="confirm_failed">
                        <div class="form-wide-success" >
                            You've successfully changed your password.<br />
                            You may now click <a routerLink="/login"><b>HERE</b></a> to log in.<br /><br />                        
                            Sincerely,<br />
                            Staff
                        </div>
                    </ng-template>

                    <ng-template #confirm_failed>
                        <div class="form-wide-errors" >
                            Problems occured during password reset.<br />
                            Probably you have already updated your password. Try to 
                            <a routerLink="/login"><b>Log-in </b></a>. <br />
                            Alternatively, you may try to <a routerLink="/reset-password"><b>Reset</b></a> your password again.
                            
                            <br /><br />                        
                            Sincerely,<br />
                            Staff
                        </div>
                    </ng-template>

                </ng-template>
                <ng-template #not_confirmed_yet>
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input matInput type="password" placeholder="Input your new password." formControlName="password_1" required />
                        <mat-error>
                            A valid password is required.
                        </mat-error>
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label>Password confirmation</mat-label>
                        <input matInput type="password" placeholder="Confirm your new password." formControlName="password_2" required />
                        <mat-error>
                            A valid password confirmation is required.
                        </mat-error>
                    </mat-form-field>
    
                    
                    <ng-template [ngIf]="form.hasError('passwords_dont_match') && form.touched">
                        <div class="form-wide-errors" >
                            Passwords must match.
                        </div>
                    </ng-template>
    
    
                    <div class="buttons">
                        <button class="ok" mat-raised-button type="submit" [disabled]="!form.valid">Set new password</button>
                        <button class="reset" mat-raised-button type="button" (click)="reset();">Reset data</button>
                    </div>

                </ng-template>



            </form>
        </mat-card-content>


    </mat-card>
</div>