<div class="container-user-forms">
    <mat-card>
        <mat-card-title>Password change</mat-card-title>
        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="submit_form()">

                <mat-form-field>
                    <mat-label>Current Password</mat-label>
                    <input matInput type="password" placeholder="Input your current password." formControlName="password_current" required />
                    <mat-error>
                        A valid password is required.
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>New Password</mat-label>
                    <input matInput type="password" placeholder="Input your new password." formControlName="password_1" required />
                    <mat-error>
                        A valid password is required.
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>New Password confirmation</mat-label>
                    <input matInput type="password" placeholder="Confirm your new password." formControlName="password_2" required />
                    <mat-error>
                        A valid password confirmation is required.
                    </mat-error>
                </mat-form-field>


                <ng-template [ngIf]="form.hasError('passwords_dont_match') && form.touched">
                    <div class="form-wide-errors" >
                        Passwords (new password and its confirmation) must match.
                    </div>
                </ng-template>


                <ng-template [ngIf]="form.touched && is_network_error">
                    <div class="form-wide-errors" >
                        Network or authentication error.
                    </div>
                </ng-template>

                <ng-template [ngIf]="form.touched && is_current_password_error">
                    <div class="form-wide-errors" >
                        Wrong current password provided.
                    </div>
                </ng-template>

                <ng-template [ngIf]="form.touched && is_password_updated_ok">
                    <div class="form-wide-success" >
                        Your password has been updated.
                    </div>
                </ng-template>
                
                <div class="buttons">
                    <button class="ok" mat-raised-button type="submit" [disabled]="!form.valid">Update your password</button>
                    <button class="reset" mat-raised-button type="button" (click)="reset();">Reset data</button>
                </div>


            </form>
        </mat-card-content>


    </mat-card>
</div>